{% extends 'base.html' %}
{% block title %}Set Password{% endblock %}
{% block heading %}Set Password{{ block.super }}{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-info">
                <div class="card-body p-4 rounded">
                    <!-- {% if messages %}
                    <div class="mb-3">
                        {% for m in messages %}
                        <div {% if m.tags %} class="alert alert-{{ m.tags }}" {% endif %} role="alert">
                            {{ m }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %} -->

                    <h2 class="mb-4">Set Password</h2>
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {% for fm in form %}
                        <div class="mb-3">
                            {{ fm.label_tag }}
                            {{ fm }}
                            {% if fm.errors %}
                            <div class="text-danger">
                                {{ fm.errors|striptags }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <button class="btn btn-primary" type="submit">Set Password</button>
                    </form>
                    <div class="mt-3">
                        <small>Return to <a href="{% url 'profile' %}" class="text-secondary">Profile</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
